<form action="/offer/offer-filtered">
<h2>catagory search</h2>
      <div>
  <label for="input-genre">Genre: <br>
      <input type="checkbox" name="genres" value="Installation"/>Installation<br>
      <input type="checkbox" name="genres" value="Painting"/>Painting<br>
      <input type="checkbox" name="genres" value="Media"/>Media<br>
      <input type="checkbox" name="genres" value="Photography"/>Photography<br>
      <input type="checkbox" name="genres" value="Ceramics"/>Ceramics<br>
      <input type="checkbox" name="genres" value="Performing Arts"/>Performing Arts<br>
      <input type="checkbox" name="genres" value="Architecture"/>Architecture<br>
      <input type="checkbox" name="genres" value="Graphics"/>Graphics<br>
      <input type="checkbox" name="genres" value="Other"/>other<br>
   </label>
   </div>

  <div>
  <label for="input-material">Material Category: </br>
      <input type="checkbox" name="materials" value="wood"/>wood</br>
      <input type="checkbox" name="materials" value="metal"/>metal</br>
      <input type="checkbox" name="materials" value="plastic"/>plastic</br>
      <input type="checkbox" name="materials" value="paper / cardboard"/>paper / cardboard</br>
      <input type="checkbox" name="materials" value="pens / brushes"/>pens / brushes</br>
      <input type="checkbox" name="materials" value="paints"/>paints</br>
      <input type="checkbox" name="materials" value="textile"/>textile</br>
      <input type="checkbox" name="materials" value="stone / building materials"/>stone / building materials</br>
      <input type="checkbox" name="materials" value="moulding / casting"/>moulding / casting</br>
      <input type="checkbox" name="materials" value="tools"/>tools</br>
      <input type="checkbox" name="materials" value="technical equipment"/>technical equipment</br>
      <input type="checkbox" name="materials" value="studio furniture"/>studio furniture</br>
      <input type="checkbox" name="materials" value="other"/>other</br>
    </label>
    </div>

<button>GO!</button>
</form>

{{!-- <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
<label class="btn btn-primary" for="btn-check">Single toggle</label> --}}

{{!-- <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
<label class="btn btn-primary" for="btn-check-2">Checked</label> --}}