 
  <div class="dropdown ">
    <div id="mySearchDropdown" class="dropdown-content background-color">
      <form action="/offer/offer-search">
       
  
        <label for="search-field"></label>
        <input
          type="text"
          name="searchfield"
          id=""
          class="nav-btn-actv"
          {{#if searchTerm}}value="{{searchTerm}}"{{/if}}
          placeholder={{#if searchTerm}}{{searchTerm}}{{else}}"Type in anything …"{{/if}}
        />
        <button formaction="/offer/offer-search/date" class="go-button nav-btn">GO!</button>
    </div>
  </div>
 
    {{#if filteredOffers}}
  
        <div class="search-sorting-button-div einzug-links">
        {{#if searchTerm}}
        <button formaction="/offer/offer-search/price" class="button-sorting nav-btn ">S€</button>
        <button formaction="/offer/offer-search/price-descending" class="button-sorting nav-btn" >S€€€</button>
        <button formaction="/offer/offer-search/date" class="button-sorting nav-btn" >SNewest</button>
        <button formaction="/offer/offer-search/date-oldest" class="button-sorting nav-btn" >SOldest</button>
        {{/if}}
        </div>
    {{/if}}
  </form>


{{!-- 
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
--}}
       {{!--  {{#if searchTerm}}<button formaction="/offer/offer-search/price" class="button-sorting nav-btn">€</button>{{/if}}
        {{#if searchTerm}}<button formaction="/offer/offer-search/price-descending" class="button-sorting nav-btn" >€€€</button>{{/if}}
        {{#if searchTerm}}<button formaction="/offer/offer-search/date" class="button-sorting nav-btn" >Newest</button>{{/if}}
        {{#if searchTerm}}<button formaction="/offer/offer-search/date-oldest" class="button-sorting nav-btn" >Oldest</button>{{/if}} --}} 