  <div class="dropdown">
    {{!-- <a href="#" class="dropbtn search-button">Search</a> --}}
    <div id="mySearchDropdown" class="dropdown-content">
      <form action="/offer/offer-search">
  
        <label for="search-field"></label>
        <input
        type="text"
        name="searchfield"
        id=""
        class="nav-btn-actv"
        {{#if filteredOffers.searchTerm}}value="{{filteredOffers.searchTerm}}"{{/if}}
        placeholder={{#if filteredOffers.searchTerm}}{{filteredOffers.searchTerm}}{{else}}"Type in anything …"{{/if}}
        />
        <button formaction="/offer/offer-search/date" class="go-button nav-btn">GO!</button>
    </div>
  </div>

        <div class="search-sorting-button-div">
        {{#if filteredOffers.searchTerm}}
        <button formaction="/offer/offer-search/price" class="button-sorting nav-btn ">€</button>
        <button formaction="/offer/offer-search/price-descending" class="button-sorting nav-btn" >€€€</button>
        <button formaction="/offer/offer-search/date" class="button-sorting nav-btn" >Newest</button>
        <button formaction="/offer/offer-search/date-oldest" class="button-sorting nav-btn" >Oldest</button>
        {{/if}}
        </div>
      </form>


{{!-- 
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
{{#if filteredOffers.sorting}}button-sorting-actv{{/if}}
--}}
       {{!--  {{#if filteredOffers.searchTerm}}<button formaction="/offer/offer-search/price" class="button-sorting nav-btn">€</button>{{/if}}
        {{#if filteredOffers.searchTerm}}<button formaction="/offer/offer-search/price-descending" class="button-sorting nav-btn" >€€€</button>{{/if}}
        {{#if filteredOffers.searchTerm}}<button formaction="/offer/offer-search/date" class="button-sorting nav-btn" >Newest</button>{{/if}}
        {{#if filteredOffers.searchTerm}}<button formaction="/offer/offer-search/date-oldest" class="button-sorting nav-btn" >Oldest</button>{{/if}} --}} 