<form action="/offer/offer-filtered">
<h2>catagory search</h2>
    {{!-- <div>
  <label for="input-genre">Genre: <br>
      <input type="checkbox" name="genres" value="Installation"/>Installation<br>
      <input type="checkbox" name="genres" value="Painting"/>Painting<br>
      <input type="checkbox" name="genres" value="Media"/>Media<br>
      <input type="checkbox" name="genres" value="Photography"/>Photography<br>
      <input type="checkbox" name="genres" value="Ceramics"/>Ceramics<br>
      <input type="checkbox" name="genres" value="Performing Arts"/>Performing Arts<br>
      <input type="checkbox" name="genres" value="Architecture"/>Architecture<br>
      <input type="checkbox" name="genres" value="Graphics"/>Graphics<br>
      <input type="checkbox" name="genres" value="Other"/>other<br>
   </label>
   </div>

  <div>
  <label for="input-material">Material Category: </br>
      <input type="checkbox" name="materials" value="wood"/>wood</br>
      <input type="checkbox" name="materials" value="metal"/>metal</br>
      <input type="checkbox" name="materials" value="plastic"/>plastic</br>
      <input type="checkbox" name="materials" value="paper / cardboard"/>paper / cardboard</br>
      <input type="checkbox" name="materials" value="pens / brushes"/>pens / brushes</br>
      <input type="checkbox" name="materials" value="paints"/>paints</br>
      <input type="checkbox" name="materials" value="textile"/>textile</br>
      <input type="checkbox" name="materials" value="stone / building materials"/>stone / building materials</br>
      <input type="checkbox" name="materials" value="moulding / casting"/>moulding / casting</br>
      <input type="checkbox" name="materials" value="tools"/>tools</br>
      <input type="checkbox" name="materials" value="technical equipment"/>technical equipment</br>
      <input type="checkbox" name="materials" value="studio furniture"/>studio furniture</br>
      <input type="checkbox" name="materials" value="other"/>other</br>
    </label>
    </div> --}}

<div class="wrapper">
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Installation" {{#if filteredOffers.0.installation}}checked {{/if}}/><span>Installation</span>
       </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Painting"{{#if filteredOffers.0.painting}}checked {{/if}}/><span>Painting</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Media"{{#if filteredOffers.0.media}}checked {{/if}}/><span>Media</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Photography"{{#if filteredOffers.0.photography}}checked {{/if}}/><span>Photography</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Ceramics"{{#if filteredOffers.0.ceramics}}checked {{/if}}/><span>Ceramics</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Performing Arts"{{#if filteredOffers.0.performingArts}}checked {{/if}}/><span>Performing Arts</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Architecture"{{#if filteredOffers.0.architecture}}checked {{/if}}/><span>Architecture</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Graphics"{{#if filteredOffers.0.graphics}}checked {{/if}}/><span>Graphics</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Other"{{#if filteredOffers.0.Other}}checked {{/if}}/><span>Other</span>
      </label>
    </div>
   </div>
</div>

<div class="wrapper">
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="wood"{{#if filteredOffers.0.wood}}checked {{/if}}/><span>wood</span>
       </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="metal" {{#if filteredOffers.0.metal}} checked {{/if}}/><span>metal</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="plastic"{{#if filteredOffers.0.plastic}}checked {{/if}}/><span>Plastic</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="paper / cardboard"{{#if filteredOffers.0.paper}}checked {{/if}}/><span>paper / cardboard</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="pens / brushes"{{#if filteredOffers.0.pens}}checked {{/if}}/><span>pens / brushes</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="paints"{{#if filteredOffers.0.paints}}checked {{/if}}/><span>paints</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="textile"{{#if filteredOffers.0.textile}}checked {{/if}}/><span>textile</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="stone / building materials"{{#if filteredOffers.0.stone}}checked {{/if}}/><span>stone / building materials</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="moulding / casting"{{#if filteredOffers.0.moulding}}checked {{/if}}/><span>moulding / casting</span>
      </label>
    </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="tools"{{#if filteredOffers.0.tools}}checked {{/if}}/><span>tools</span>
       </label>
     </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="technical equipment"{{#if filteredOffers.0.technicalEquipment}}checked {{/if}}/><span>technical equipment</span>
       </label>
     </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="studio furniture"{{#if filteredOffers.0.studioFurniture}}checked {{/if}}/><span>studio furniture</span>
       </label>
     </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="other"{{#if filteredOffers.0.other}}checked {{/if}}/><span>other</span>
       </label>
     </div>
   </div>
</div>


<button>GO!</button>
</form>

{{!-- <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
<label class="btn btn-primary" for="btn-check">Single toggle</label> --}}

{{!-- <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
<label class="btn btn-primary" for="btn-check-2">Checked</label> --}}