  <div class="dropdown">
    {{!-- <a href="#" class="dropbtn search-button">Search</a> --}}
    <div id="mySearchDropdown" class="dropdown-content">
      <form action="/offer/offer-search">
  
        <label for="search-field"></label>
        <input
        type="text"
        name="searchfield"
        id=""
        {{#if filteredOffers.searchTerm }}value={{filteredOffers.searchTerm}}{{/if}}
        placeholder={{#if filteredOffers.searchTerm}}{{filteredOffers.searchTerm}}{{else}}"Type in anything …"{{/if}}
        />
        <button formaction="/offer/offer-search/date" class="go-button">GO!</button>
    </div>
  </div>

        <div class="search-sorting-button-div">
        <button formaction="/offer/offer-search/price" class="button-sorting" class="hide">€</button>
        <button formaction="/offer/offer-search/price-descending" class="button-sorting" class="hide">€€€</button>
        <button formaction="/offer/offer-search/date" class="button-sorting" class="hide">Newest</button>
        <button formaction="/offer/offer-search/date-oldest" class="button-sorting" class="hide">Oldest</button>
        </div>
      </form>
