<form action="/offer/offer-filtered">
<h2>catagory search</h2>
      <div>
  <label for="input-genre">Genre: <br>
      <input type="checkbox" name="genres" value="Installation"/>Installation<br>
      <input type="checkbox" name="genres" value="Painting"/>Painting<br>
      <input type="checkbox" name="genres" value="Drawing"/>Drawing<br>
      <input type="checkbox" name="genres" value="Printing"/>Printing<br>
      <input type="checkbox" name="genres" value="Media"/>Media<br>
      <input type="checkbox" name="genres" value="Photography"/>Photography<br>
      <input type="checkbox" name="genres" value="Ceramics"/>Ceramics<br>
      <input type="checkbox" name="genres" value="Textile"/>Textile<br>
   </label>
   </div>

  <div>
  <label for="input-material">Material Category: </br>
      <input type="checkbox" name="materials" value="wood"/>wood</br>
      <input type="checkbox" name="materials" value="steel"/>steel</br>
      <input type="checkbox" name="materials" value="colors"/>colors</br>
      <input type="checkbox" name="materials" value="paper"/>paper</br>
      <input type="checkbox" name="materials" value="tools"/>tools</br>
      <input type="checkbox" name="materials" value="equipment"/>technical-equipment</br>
      <input type="checkbox" name="materials" value="machines"/>machines</br>
      <input type="checkbox" name="materials" value="other"/>other</br>
    </label>
    </div>

<button>GO!</button>
</form>