<form action="/offer/offer-search">
  <label for="search-field">Search:</label>
  <input
    type="text"
    name="searchfield"
    id=""
    placeholder="Type in anything …"
  />

  <button>GO!</button>
</form>