<div>
  <div  id="mySearchDropdown" class="dropdown-content background-color">
    <form action="/offer/offer-search">
      <label for="search-field"></label>
      <input
        type="text"
        name="searchfield"
        id=""
        class="nav-btn-actv"
        {{#if searchTerm}}value="{{searchTerm}}"{{/if}}
        placeholder={{#if searchTerm}}{{searchTerm}}{{else}}"Type in anything …"{{/if}}
      />
      <button formaction="/offer/offer-search/date" class="go-button nav-btn">GO!</button>
    

  </div>
   {{#if filteredOffers}}
      <div style="position: static" class="search-sorting-button-div einzug-links">
        {{#if searchTerm}}
          <button formaction="/offer/offer-search/price" class="button-sorting nav-btn ">€</button>
          <button formaction="/offer/offer-search/price-descending" class="button-sorting nav-btn" >€€€</button>
          <button formaction="/offer/offer-search/date" class="button-sorting nav-btn" >Newest</button>
          <button formaction="/offer/offer-search/date-oldest" class="button-sorting nav-btn" >Oldest</button>
        {{/if}}
      </div> 
    {{/if}}
    </form>
</div>
