<nav>
      <a href="/" class="logo">WASTE MGMT</a>
  
  <div>

  <div class="nav-cat-search">
    {{#if user}}

      <a
        href="/offer/category-megamenu"
        class="dropbtn category-search-button"
      >Categories</a>
      <a href="/offer/search-megasearch" class="dropbtn search-button">Search</a>

  </div >
      <form action="/offer/create">
        <button class="nav-btn">New Offer</button>
      </form>
      <a href="/user/{{user.id}}">{{user.name}}’s Profile</a>

      <form action="/authentication/sign-out" method="POST">
        <button>Sign Out</button>
      </form>
    {{else}}
      <a href="/authentication/sign-in">Sign In</a>
      <a href="/authentication/sign-up">Sign Up</a>
    {{/if}}
  </div>
</nav>