 {{>navbar}}
<div class="offer-create">
<form
  action="/offer/{{offer._id}}/edit"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="input-title">Title
  <input type="text" id="input-title" name="title" placeholder="Your Title" value="{{offer.title}}"/>
  </label>

 <label for="description-input">Description
    <textarea id="description-input" name="description" rows="4" cols="50">{{offer.description}}   
    </textarea></label>

  <div>
    <h3>Upload </h3>
    <label for="input-image" class="custom-file-upload">Images (max. 5) 
      <input type="file" name="picture" id="input-image" multiple/>
    </label>
    <img src="{{offer.picture.[0]}}" alt="Existing picture" class="preview-pic">
  </div>
</div>
<h3 class="offer-label" >Change the genre of your offer </h3>
<div class="wrapper">
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Installation" {{#if offer.installation}}checked {{/if}}/><span>Installation</span>
       </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Painting"{{#if offer.painting}}checked {{/if}}/><span>Painting</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Media"{{#if offer.media}}checked {{/if}}/><span>Media</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Photography"{{#if offer.photography}}checked {{/if}}/><span>Photography</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Ceramics"{{#if offer.ceramics}}checked {{/if}}/><span>Ceramics</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Performing Arts"{{#if offer.performingArts}}checked {{/if}}/><span>Performing Arts</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Architecture"{{#if offer.architecture}}checked {{/if}}/><span>Architecture</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Graphics"{{#if offer.graphics}}checked {{/if}}/><span>Graphics</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Other"{{#if offer.Other}}checked {{/if}}/><span>Other</span>
      </label>
    </div>
   </div>
</div>


<div class="wrapper">
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="wood"{{#if offer.wood}}checked {{/if}}/><span>wood</span>
       </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="metal" {{#if offer.metal}} checked {{/if}}/><span>metal</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="plastic"{{#if offer.plastic}}checked {{/if}}/><span>Plastic</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="paper / cardboard"{{#if offer.paper}}checked {{/if}}/><span>paper / cardboard</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="pens / brushes"{{#if offer.pens}}checked {{/if}}/><span>pens / brushes</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="paints"{{#if offer.paints}}checked {{/if}}/><span>paints</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="textile"{{#if offer.textile}}checked {{/if}}/><span>textile</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="stone / building materials"{{#if offer.stone}}checked {{/if}}/><span>stone / building materials</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="materials" value="moulding / casting"{{#if offer.moulding}}checked {{/if}}/><span>moulding / casting</span>
      </label>
    </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="tools"{{#if offer.tools}}checked {{/if}}/><span>tools</span>
       </label>
     </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="technical equipment"{{#if offer.technicalEquipment}}checked {{/if}}/><span>technical equipment</span>
       </label>
     </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="studio furniture"{{#if offer.studioFurniture}}checked {{/if}}/><span>studio furniture</span>
       </label>
     </div>
   </div>
   <div id="ck-button">
     <div class="single-button">
       <label>
         <input type="checkbox" hidden name="materials" value="other"{{#if offer.other}}checked {{/if}}/><span>other</span>
       </label>
     </div>
   </div>
</div>

  <label for="input-location">Location:
    <select name="location" placeholder="">
      <option value="Friedrichshain">Friedrichshain</option>
      <option value="Kreuzberg">Kreuzberg</option>
      <option value="Neukölln">Neukölln</option>
      <option value="Britz">Britz</option>
      <option value="Treptow">Treptow</option>
      <option value="Köpenick">Köpenick</option>
      <option value="Marzahn">Marzahn</option>
      <option value="Hellersdorf">Hellersdorf</option>
      <option value="Lichtenberg (Süd)">Lichtenberg (Süd)</option>
      <option value="Lichtenberg (Nord)">Lichtenberg (Nord)</option>
      <option value="Prenzlauer Berg">Prenzlauer Berg</option>
      <option value="Pankow">Pankow</option>
      <option value="Heinersdorf">Heinersdorf</option>
      <option value="Weißensee">Weißensee</option>
      <option value="Mitte">Mitte</option>
      <option value="Wedding">Wedding</option>
      <option value="Reinickendorf">Reinickendorf</option>
      <option value="Charlottenburg">Charlottenburg</option>
      <option value="Wilmersdorf">Wilmersdorf</option>
      <option value="Tempelhof">Tempelhof</option>
      <option value="Schöneberg">Schöneberg</option>
      <option value="Steglitz">Steglitz</option>
      <option value="Zehlendorf">Zehlendorf</option>
      <option value="Spandau">Spandau</option>
      <option value="Schöneweide">Schöneweide</option>
    </select></label>

    <label for="input-price">Price:
    <input type="number" id="input-price" name="price" placeholder="0" /></label>

    <label for="input-price">Alternative Payments:
    <textarea type="text" id="input-payment" name="payment" placeholder="Alternative Payment" rows="2" cols="50">
    </textarea></label>

  <button>Update Offer</button>
</form>