 {{>navbar}}
<div class="dark-bg">

<h1>Email was successfully sent</h1>
<div class="go-button-wrapper">
<a href="/offer/{{offerId}}">
  <button class="go-button centered nav-btn">Back</button>
</a>
</div>
</div>

{{> footer}}