 {{>navbar}}

<h1>{{title}}</h1>

<img
  src="https://images.unsplash.com/photo-1614896777839-cdec1a580b0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2671&q=80"
  alt=""
/>

<p>Welcome to {{title}} To have a look at the offerings please sign up first</p>

<h2>Latest offers</h2>
<div class="offersWraper">
{{#each offers}}
  {{>offersCard}}
{{#unless @last}}<br />{{/unless}}
{{/each}}
</div>

<a href="/offer/offer-suggestions">See all Offerings</a>