<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        <a href="/offer-create"></a>
        <form action="/offer/create">
          <button>New Offer</button>
        </form>

        <a href="/private"></a>
        <form action="/private">
          <button>{{user.name}}'s Profile</button>
        </form>

        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
      {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>