{{>navbaroffers}}

{{> megamenu}} {{> megasearch}}

<h1>Latest Offers</h1>
{{#each offers}}
{{> offersCard }}
{{#unless @last}}<br />{{/unless}}
{{/each}}

<script>

    

    window.addEventListener('load', () => hideSearchSortingButtons())

    
</script>