{{>navbaroffers}}
<div>
    <div class="filter-buttons">
    <h1 class="einzug-links">Offers</h1>
    {{> megamenu}}{{> megasearch}}
    </div>
    <div>

    </div>
</div>


    {{#if filteredOffers}}
    {{else}}
        <div class="no-offers">
            <h2 class="einzug-links">No offers found. Try another filter or search term!</h2>
        </div>
    {{/if}}

<div class="offersWrapper"> 


    {{#each filteredOffers}}
        {{> offersCard }}
        {{#unless @last}}<br />{{/unless}}
    {{/each}}
    
</div>

{{!-- {{> footer}} --}}