{{> megamenu}}{{> megasearch}}

<br><span>Sort by</span>
{{!-- <form action="/offer/offer-sorted-price">
    <button>Price</button>
</form> --}}
{{!-- <form action="/offer/offer-sorted-descending-price">
    <button>Price descending</button>
</form>
<form action="/offer/offer-sorted-date">
    <button>Date: Latest First
    </button>
</form>
<form action="/offer/offer-sorted-oldest-date">
    <button>Date: Oldest First
    </button>
</form> --}}
{{#if filteredOffers}}
{{else}}
<h2>No offers found. Try another filter or search term!</h2>
{{/if}}
{{#each filteredOffers}}
{{> offersCard }}
{{#unless @last}}<br />{{/unless}}
{{/each}}