 {{> navbar}}
<div class="offer-create">
<form action="/offer/create" method="POST" enctype="multipart/form-data">
<div>

  <label for="input-title">Title
  <input type="text" id="input-title" name="title" placeholder="Your Title" /></label>
</div>
<div>
  <label for="description-input" >Description
    <textarea id="description-input" name="description" class="nav-btn-actv"></textarea>
  </label>
</div>

  <div>
    <h3>Upload </h3>
    <label for="input-image" class="custom-file-upload">Images (max. 5) 
      <input type="file" name="picture" id="input-image" multiple />
    </label>
  </div>
 </div>

    <h3 class="offer-label" >Choose a genre you want your offer to be found in </h3>
  <div class="wrapper">
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="genres"
            value="Installation"
          /><span>Installation</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="genres" value="Painting" /><span
          >Painting</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="genres" value="Media" /><span
          >Media</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="genres"
            value="Photography"
          /><span>Photography</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="genres" value="Ceramics" /><span
          >Ceramics</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="genres"
            value="Performing Arts"
          /><span>Performing Arts</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="genres"
            value="Architecture"
          /><span>Architecture</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="genres" value="Graphics" /><span
          >Graphics</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="genres" value="Other" /><span
          >Other</span>
        </label>
      </div>
    </div>
  </div>
  <br>
 {{!--  ///// materials --}}
<h3 class="offer-label">Choose materials your offer is made of </h3>
  <div class="wrapper">
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="wood" /><span
          >wood</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="metal" /><span
          >metal</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="plastic" /><span
          >Plastic</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="materials"
            value="paper / cardboard"
          /><span>paper / cardboard</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="materials"
            value="pens / brushes"
          /><span>pens / brushes</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="paints" /><span
          >paints</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="textile" /><span
          >textile</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="materials"
            value="stone / building materials"
          /><span>stone / building materials</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="materials"
            value="moulding / casting"
          /><span>moulding / casting</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="tools" /><span
          >tools</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="materials"
            value="technical equipment"
          /><span>technical equipment</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input
            type="checkbox"
            hidden
            name="materials"
            value="studio furniture"
          /><span>studio furniture</span>
        </label>
      </div>
    </div>
    <div id="ck-button">
      <div class="single-button">
        <label>
          <input type="checkbox" hidden name="materials" value="other" /><span
          >other</span>
        </label>
      </div>
    </div>
  </div>
<div class="offer-create">
<div>
  <label for="input-location">Location
    <select name="location">
      <option value="Friedrichshain">Friedrichshain</option>
      <option value="Kreuzberg">Kreuzberg</option>
      <option value="Neukölln">Neukölln</option>
      <option value="Britz">Britz</option>
      <option value="Treptow">Treptow</option>
      <option value="Köpenick">Köpenick</option>
      <option value="Marzahn">Marzahn</option>
      <option value="Hellersdorf">Hellersdorf</option>
      <option value="Lichtenberg (Süd)">Lichtenberg (Süd)</option>
      <option value="Lichtenberg (Nord)">Lichtenberg (Nord)</option>
      <option value="Prenzlauer Berg">Prenzlauer Berg</option>
      <option value="Pankow">Pankow</option>
      <option value="Heinersdorf">Heinersdorf</option>
      <option value="Weißensee">Weißensee</option>
      <option value="Mitte">Mitte</option>
      <option value="Wedding">Wedding</option>
      <option value="Reinickendorf">Reinickendorf</option>
      <option value="Charlottenburg">Charlottenburg</option>
      <option value="Wilmersdorf">Wilmersdorf</option>
      <option value="Tempelhof">Tempelhof</option>
      <option value="Schöneberg">Schöneberg</option>
      <option value="Steglitz">Steglitz</option>
      <option value="Zehlendorf">Zehlendorf</option>
      <option value="Spandau">Spandau</option>
      <option value="Schöneweide">Schöneweide</option>
    </select></label>
    </div>
    <div>
  <label for="input-price">Price
    <input
      type="number"
      id="input-price"
      name="price"
      placeholder="0"/></label>
</div>
{{!-- <div>
  <label for="input-price">Alternative Payments:
    <textarea
      type="text"
      id="input-payment"
      name="payment"
      placeholder="Alternative Payment">
    </textarea></label>
</div> --}}

<div class="go-button-wrapper">
  <button class="go-button centered">Create Offer</button>
</div>

</form>


