{{>navbaroffers}}
<div>
    <h1 class="einzug-links">Latest Offers</h1>
    <div class="filter-buttons">
         {{> megamenu}} {{> megasearch}}
    </div>
</div>
<div class="offersWrapper"> 
    {{#each offers}}
    {{> offersCard }}
    {{#unless @last}}<br />{{/unless}}
    {{/each}}
</div>
{{> footer}}
<script>
window.addEventListener('load', () => hideSearchSortingButtons())
</script>