{{>navbaroffers}}

{{> megamenu}}{{> megasearch}}

{{#if filteredOffers}}
{{else}}
<h2>No offers found. Try another filter or search term!</h2>
{{/if}}
{{#each filteredOffers}}
{{> offersCard }}
{{#unless @last}}<br />{{/unless}}
{{/each}}

<script>
    window.addEventListener('load', () => hideCategorySortingButtons())
</script>