{{>navbaroffers}}

<div>
    <h1 class="einzug-links">Offers sorted by {{filteredOffers.sorting}}</h1>
    <div class="filter-buttons">
        {{> megamenu}}{{> megasearch}}
   </div>
</div>
<div class="offersWrapper"> 
    {{#if filteredOffers}}
    {{else}}
    <h2>No offers found. Try another filter or search term!</h2>
    {{/if}}
    {{#each filteredOffers}}
    {{> offersCard }}
    {{#unless @last}}<br />{{/unless}}
    {{/each}}
</div>

{{> footer}}