
      <a href="/" class="logo">WASTE MGMT</a>
  
  <div>

  <div class="nav-cat-search">

      <a
        href="/offer/category-megamenu"
        class="dropbtn category-search-button"
      >Categories</a>
      <a href="/offer/search-megasearch" class="dropbtn search-button">Search</a>

      <a href="/authentication/sign-in">Sign In</a>
      <a href="/authentication/sign-up">Sign Up</a>
      
  </div>
</nav>

<h1>Bye bye {{ userName }}! Your profile was successfully deleted.</h1>
<a href="/">Home</a>

{{!-- {{> footer}} --}}