
<div class="sign-in">
  <div>
    <div>
      <form action="/authentication/sign-in" method="POST">
      <label for="input-email">Email
      <input type="email" id="input-email" name="email" placeholder="Your Email" class="nav-btn-actv"/>
      </label>
      <label for="input-password">Password
      <input type="password" name="password" id="input-password" placeholder="A Strong Password" class="nav-btn-actv"/>
      </label>
    </div>
    <div class="go-button-wrapper">
      <button class="go-button centered nav-btn">Sign In</button>
    </div>
    </form>
  </div>
</div>
{{!-- {{> footer}} --}}