 {{>navbar}}
<div class="offer-create">
  <form action="/authentication/sign-up" method="POST" enctype="multipart/form-data" >

  <div>
      <label for="input-name">Name
      <input type="text" id="input-name" name="name" placeholder="Your Name" />
      </label>
  </div>
  <div>
      <label for="input-email">Email
      <input type="email" id="input-email" name="email" placeholder="Your Email" />
      </label>
  </div>
  <div>
      <label for="input-web">Website
      <input type="text" id="input-web" name="web" placeholder="Your Website" />
      </label>
  </div>
  <div>
      <label for="input-insta">Instagram @
      <input type="text" id="input-insta" name="insta" placeholder="Your Instagram" />
      </label>
  </div>
  <div>
      <label for="input-password">Password
      <input type="password" name="password" id="input-password" placeholder="A Strong Password"/>
      </label>
  </div>
    <div>
      <h3 class="img-upload">Upload</h3>
      <label for="image" class="custom-file-upload" >Upload Image
        <input type="file" name="picture" id="image" />
      </label>
    </div>
</div>

<div class="background-color">
  <label for="genres" class="form-label">Choose a genre</label>
<div class="wrapper">
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Installation" {/><span>Installation</span>
       </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Painting"/><span>Painting</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Media"/><span>Media</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Photography"/><span>Photography</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Ceramics"/><span>Ceramics</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Performing Arts"/><span>Performing Arts</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Architecture"/><span>Architecture</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Graphics"/><span>Graphics</span>
      </label>
    </div>
  </div>
  <div id="ck-button">
    <div class="single-button">
      <label>
        <input type="checkbox" hidden name="genres" value="Other"/><span>Other</span>
      </label>
    </div>
   </div>
</div>
</div>
<div class="offer-create">
  <div>
  <label for="input-location">Location
    <select name="location" placeholder="Choose a genre you are working in">
      <option value="Friedrichshain">Friedrichshain</option>
      <option value="Kreuzberg">Kreuzberg</option>
      <option value="Neukölln">Neukölln</option>
      <option value="Britz">Britz</option>
      <option value="Treptow">Treptow</option>
      <option value="Köpenick">Köpenick</option>
      <option value="Marzahn">Marzahn</option>
      <option value="Hellersdorf">Hellersdorf</option>
      <option value="Lichtenberg (Süd)">Lichtenberg (Süd)</option>
      <option value="Lichtenberg (Nord)">Lichtenberg (Nord)</option>
      <option value="Prenzlauer Berg">Prenzlauer Berg</option>
      <option value="Pankow">Pankow</option>
      <option value="Heinersdorf">Heinersdorf</option>
      <option value="Weißensee">Weißensee</option>
      <option value="Mitte">Mitte</option>
      <option value="Wedding">Wedding</option>
      <option value="Reinickendorf">Reinickendorf</option>
      <option value="Charlottenburg">Charlottenburg</option>
      <option value="Wilmersdorf">Wilmersdorf</option>
      <option value="Tempelhof">Tempelhof</option>
      <option value="Schöneberg">Schöneberg</option>
      <option value="Steglitz">Steglitz</option>
      <option value="Zehlendorf">Zehlendorf</option>
      <option value="Spandau">Spandau</option>
      <option value="Schöneweide">Schöneweide</option>
    </select></label>
  </div>
</div>

<div class="go-button-wrapper background-color">
  <button class="go-button centered nav-btn">Sign Up</button>
</div>
</form>
{{> footer}}