<form
  action="/authentication/sign-up"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input
    type="password"
    name="password"
    id="input-password"
    placeholder="A Strong Password"
  />
  <div>
    <label for="">Image:
      <input type="file" name="picture" id="" />
    </label>
  </div>
  {{! image }}
  {{! description }}
  {{! genre }}
  <div>

    <label for="genres">Genre:</label><br />
    <input type="checkbox" name="genres" value="Installation" />Installation<br
    />
    <input type="checkbox" name="genres" value="Installation" />Installation<br
    />
    <input type="checkbox" name="genres" value="Painting" />Painting<br />
    <input type="checkbox" name="genres" value="Media" />Media<br />
    <input type="checkbox" name="genres" value="Photography" />Photography<br />
    <input type="checkbox" name="genres" value="Ceramic" />Ceramic<br />
    <input type="checkbox" name="genres" value="Performing Arts" />Performing
    Arts<br />
    <input type="checkbox" name="genres" value="Architecture" />Architecture<br
    />
    <input type="checkbox" name="genres" value="Graphics" />Graphics<br />
    <input type="checkbox" name="genres" value="Other" />other<br />
  </div>

  {{!   <label for="input-genre">Genre:
    <select name="genres" multiple>
      <option value="">Choose a genre you are working in</option>
      <option value="Installation">Installation</option>
      <option value="Painting">Painting</option>
      <option value="Drawing">Drawing</option>
      <option value="Printing">Printing</option>
      <option value="Media">Media</option>
      <option value="Photography">Photography</option>
      <option value="Ceramics">Ceramics</option>
      <option value="Textile">Textile</option>
    </select></label> }}

  <label for="input-location">Location:
    <select name="location" placeholder="Choose a genre you are working in">
      <option value="Friedrichshain">Friedrichshain</option>
      <option value="Kreuzberg">Kreuzberg</option>
      <option value="Neukölln">Neukölln</option>
      <option value="Britz">Britz</option>
      <option value="Treptow">Treptow</option>
      <option value="Köpenick">Köpenick</option>
      <option value="Marzahn">Marzahn</option>
      <option value="Hellersdorf">Hellersdorf</option>
      <option value="Lichtenberg (Süd)">Lichtenberg (Süd)</option>
      <option value="Lichtenberg (Nord)">Lichtenberg (Nord)</option>
      <option value="Prenzlauer Berg">Prenzlauer Berg</option>
      <option value="Pankow">Pankow</option>
      <option value="Heinersdorf">Heinersdorf</option>
      <option value="Weißensee">Weißensee</option>
      <option value="Mitte">Mitte</option>
      <option value="Wedding">Wedding</option>
      <option value="Reinickendorf">Reinickendorf</option>
      <option value="Charlottenburg">Charlottenburg</option>
      <option value="Wilmersdorf">Wilmersdorf</option>
      <option value="Tempelhof">Tempelhof</option>
      <option value="Schöneberg">Schöneberg</option>
      <option value="Steglitz">Steglitz</option>
      <option value="Zehlendorf">Zehlendorf</option>
      <option value="Spandau">Spandau</option>
      <option value="Schöneweide">Schöneweide</option>
    </select></label>

  <button>Sign Up</button>
</form>