/* font-family: 'Inter', sans-serif; */
* {
  margin: 0;
  padding: 0;
  /*  font-family: 'Inter', sans-serif; */
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* max-width: 52em */
  color: #3c4734;
}

body button {
  background-color: #fff;
}

body span {
  font-size: 1.2rem;
}

body a {
  padding: 0;
}

#input-name, #input-email, #input-password, #input-web, #input-insta, #input-title, #description-input, #input-price {
  margin-left: 0;
  margin: 1.2rem 0 2rem 0;
}

.logo {
  padding-left: 0em;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.2px;
}

.logo:hover {
  color: #3c4734;
  text-decoration: none;
}

.button-hover {
  padding: 0.1rem 1.2rem;
  border-radius: 2rem;
  margin-left: 0.2rem;
}

.button-hover:hover {
  background-color: #d9f2d5;
}

h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

nav {
  position: relative;
  height: 80.86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  margin-left: 1em;
}

nav a, nav button, nav form {
  padding: 0;
}

nav div {
  display: flex;
  align-items: center;
  margin-right: 1.2em;
}

nav div a, nav div button {
  margin: 0 0 0 1.4em;
}

nav .nav-cat-search {
  margin-right: 1.6rem;
}

.dark-bg {
  width: 100%;
  height: 100%;
  margin-bottom: -40px;
  background-color: #3c4734;
}

.dark-bg h1 {
  color: white;
  margin: auto;
  padding: 5rem 0 2rem 2rem;
  width: 60%;
}

.einzug-links {
  padding-left: 2rem;
}

.dropbtn {
  color: white;
  background-color: #3c4734;
  border: 3px solid #3c4734;
  margin: 1.2em 0 1.2em 2em;
  padding: 0.1rem 1em;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.nav-button-right {
  margin-right: 1.2rem;
}

.dropbtn:hover {
  color: #fff;
  background-color: #262b22;
  border: 3px solid #262b22;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.closeMegamenu {
  display: inline-block;
}

a,
button {
  color: #3c4734;
  padding: 0 0 0 2vw;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.3px;
  cursor: pointer;
  border-width: 0;
}

nav a:hover {
  text-decoration: none;
  color: #3c4734;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn-actv:focus {
  outline-color: #262b22;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.9em;
  text-transform: uppercase;
  /* text-align: center; */
  margin: 3rem 0 2rem 0rem;
  line-height: 0.95em;
  letter-spacing: -0.3rem;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

hr {
  margin-top: 2rem;
  border-width: 2px;
  border-color: #3c4734;
}

.about-text h1 {
  margin: 8rem 2rem 0 2rem;
}

.about-text h3 {
  width: 60%;
  margin: 2rem auto 0 auto;
}

.about-text h3 a {
  font-size: 1.7rem;
}

.about-text .link {
  font-size: 1.7rem;
  text-decoration: underline;
}

.offersWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 2rem 2rem 0 0rem;
}

#offersCard {
  margin: 1rem 3rem;
  line-height: 1.4rem;
  width: 20rem;
}

#offersCard img {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

#offersCard a {
  font-size: 1.2rem;
  padding-left: 0;
}

#offersCard h3 {
  font-weight: 400;
  text-transform: uppercase;
}

#offersCard a:hover {
  text-decoration: none;
  color: #3c4734;
}

#card-heading {
  text-transform: uppercase;
}

#card-heading:hover {
  color: #3c4734;
  text-decoration: none;
}

.offer-completed {
  color: rgba(0, 0, 0, 0.45);
}

.wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#ck-button {
  margin: 4px;
}

#ck-button label span {
  background-color: #d9f2d5;
  float: none;
  color: #3c4734;
  font-size: 1.7rem;
  padding: 0.2em 1.2em;
  border: 2px solid white;
  border-radius: 2em;
}

#ck-button label span {
  text-align: center;
  display: block;
  border-radius: 2em;
}

#ck-button label input {
  /* top: -20px; */
}

#ck-button input:hover + span {
  background-color: #3c4734;
  color: #fff;
}

#ck-button input:checked + span {
  background-color: #3c4734;
  color: #fff;
}

#ck-button input:checked:hover + span {
  background-color: #262b22;
  border-color: #262b22;
  color: #fff;
}

.single-button {
  margin-right: 1em;
}

/* OPENED DROPDOWN */
.wrapper {
  padding: 1rem 0  1.8rem 0rem;
}

.dropdown-content {
  padding-top: 5rem;
  padding-left: 3rem;
  display: none;
  background-color: #ffffff;
  width: 100vw;
  height: 90vh;
  overflow: auto;
  z-index: 1;
}

.dropdown-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-size: 1.7rem;
}

.dropdown-content form label {
  margin: 0;
}

.dropdown-content form input {
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  width: 40rem;
  margin: 0 1rem;
  border: 2px solid #3c4734;
  border-radius: 4rem;
  color: #3c4734;
}

/* 
.offers-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: baseline;
} */
#mySearchDropdown {
  position: absolute;
}

#myDropdown {
  position: absolute;
}

.dropdown-content a {
  color: #262b22;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: #fff;
  background-color: #262b22;
  text-decoration: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.go-button-wrapper {
  display: flex;
  justify-content: center;
}

.go-button {
  color: #3c4734;
  font-size: 1.7rem;
  padding: 0.2em 0.8em;
  border: 2px solid #3c4734;
  border-radius: 2em;
  cursor: pointer;
}

.centered {
  margin: 3.2rem 0 4rem 0;
}

.go-button:hover {
  background-color: #262b22;
  border: 2px solid #262b22;
  color: #fff;
  text-decoration: none;
}

.padding-left {
  padding-left: 2rem;
}

.button-sorting {
  color: #262b22;
  font-size: 1.2rem;
  padding: 0.1em 1.2em;
  margin: 1rem 0.6rem 0 0;
  border: 2px solid #262b22;
  border-radius: 2em;
  cursor: pointer;
}

.button-sorting:hover {
  background-color: #262b22;
  color: #fff;
}

.button-sorting-actv {
  background-color: #262b22;
  color: #fff;
}

/* deactivated offers*/
.bw-image {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 50%;
}

/* slide show */
#slider {
  opacity: 1;
  transition: opacity 1s;
}

#slider.fadeOut {
  opacity: 0;
}

/* button */
.project-spc-btn {
  color: #fff;
  background-color: #3c4734;
  font-size: 1.7rem;
  padding: 0.4em 0.8em;
  border: 2px solid #3c4734;
  border-radius: 2em;
  cursor: pointer;
}

.project-spc-btn:hover {
  background-color: #fff;
  border: 2px solid #3c4734;
  color: #3c4734;
  text-decoration: none;
}

/* project space positioning of text div on slide show */
.project-space {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.7rem;
}

.project-space img {
  width: 100%;
  max-height: 92vh;
  object-fit: cover;
}

.project-space h2, .project-space span {
  font-size: 2.4rem;
  padding: 0;
  margin-bottom: 2rem;
}

.project-space a:hover {
  text-decoration: none;
  color: #3c4734;
}

.project-space-info {
  position: absolute;
  font-size: 2rem;
  bottom: 6rem;
  left: 2rem;
}

.project-space-info h2 {
  font-size: 2.4rem;
}

.project-space-info h2 a {
  font-size: 2.4rem;
}

.project-space-info span {
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.project-space-wrapper h1 {
  margin-left: 2rem;
}

.project-space-wrapper h1 a {
  font-size: 7rem;
  letter-spacing: -0.3rem;
}

.project-images-section img {
  display: block;
}

#project-img1 {
  width: 100%;
  margin-bottom: 3rem;
}

#project-img2 {
  width: 20em;
  margin: 0 auto 6rem;
}

#project-img3 {
  width: 30em;
  margin: 0 0 3rem 3rem;
}

#project-img4 {
  width: 17em;
  margin: 0 auto 6rem;
}

#project-img5 {
  width: 40em;
  margin: auto;
}

.background-color {
  background-color: white;
}

.offer-create {
  background-color: white;
  padding-top: 2rem;
  /* margin-left: 1rem; */
}

.offer-create form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.offer-create div {
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem 1rem 0 1rem;
}

.offer-create div h3 {
  margin: 0 1rem 0.5rem 1rem;
  font-weight: 400;
}

.offer-create div label {
  font-size: 1.7rem;
}

.offer-create form {
  font-size: 1.7rem;
}

.offer-create label {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.offer-create input, .offer-create textarea {
  display: block;
  margin: auto;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  max-width: 40rem;
  margin: 0 1rem 1rem 1rem;
  border: 2px solid #3c4734;
  border-radius: 2rem;
  color: #3c4734;
  overflow: hidden;
}

.offer-create input[type="file"] {
  display: none;
}

.offer-create .custom-file-upload {
  padding: 0.7rem 2rem 0.7rem 2rem;
  max-width: 40rem;
  margin: 0 1rem 1rem 1rem;
  border: 2px solid #3c4734;
  border-radius: 2rem;
  color: #3c4734;
  cursor: pointer;
}

.offer-create select {
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  width: 20rem;
  max-width: 40rem;
  margin: 0 1rem 1rem 0rem;
  border: 2px solid #3c4734;
  border-radius: 2rem;
  color: #3c4734;
}

.offer-create select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.offer-create input[type=number]::-webkit-inner-spin-button,
.offer-create input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.offer-label {
  font-weight: 400;
  margin: 2rem 0 0 2rem;
}

.form-label {
  font-size: 1.7rem;
  margin: 1em 0 0 2rem;
}

#profile-head {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 4rem 2rem 2rem 2rem;
}

#profile-head img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  margin: 0 0 2rem 0;
  border-radius: 90%  30% / 50% 40%;
}

#profile-head h3 {
  font-size: 4.5rem;
  line-height: 4.2rem;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 600px;
  padding-bottom: 3rem;
}

#profile-head .profile-details {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-left: 2rem;
  max-width: 40%;
}

#profile-head .profile-details .link {
  font-size: 1.7rem;
  text-decoration: underline;
}

.profile-btn {
  color: white;
  background-color: #3c4734;
  border: 2px solid #3c4734;
  margin: 1.2em 0 1.2em 2em;
  padding: 0em 1em;
  font-size: 1em;
  letter-spacing: 0.3px;
  font-weight: 400;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.profile-btn:hover {
  color: #3c4734;
  background-color: #fff;
}

.erase-btn {
  color: white;
  background-color: red;
  border: 2px solid red;
  margin: 1.2em 0 1.2em 2em;
  padding: 0em 1em;
  font-size: 1em;
  letter-spacing: 0.3px;
  font-weight: 400;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.erase-btn:hover {
  color: red;
  background-color: #fff;
}

.offers-wrapper {
  display: flex;
}

.filter-buttons {
  /* padding-left: 3rem; */
}

.offer-single {
  margin: 3rem 0 4rem 0;
}

.offer-single img {
  display: block;
  width: 800px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 3rem;
  margin: 2rem auto 0 auto;
}

.offer-single p, .offer-single a, .offer-single span {
  font-size: 1.2rem;
  padding: 0;
  margin: 0.1em;
}

.offer-single h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

.offer-single button {
  margin: 10px;
}

a:hover {
  text-decoration: none;
  color: #3c4734;
}

.description {
  margin: 4rem auto 0 auto;
  width: 60%;
}

.offer-details {
  margin: auto;
  width: 60%;
}

.h1-centered {
  margin: auto;
  width: 60%;
}

.preview-pic {
  width: 300px;
  height: 220px;
  object-fit: cover;
}

.sign-in {
  background: #d9f2d5;
  margin-bottom: -40px;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.7rem;
}

.sign-in h3 {
  margin: 0 1rem 0 1rem;
  font-weight: 400;
}

.sign-in label {
  font-size: 1.7rem;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sign-in input, .sign-in textarea {
  display: block;
  margin: auto;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  max-width: 40rem;
  margin: 0 1rem 1rem 1rem;
  border: 2px solid #3c4734;
  border-radius: 2rem;
  color: #3c4734;
}

.sign-in select {
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  width: 20rem;
  max-width: 40rem;
  margin: 0 1rem 1rem 1rem;
  border: 2px solid #3c4734;
  border-radius: 2rem;
  color: #3c4734;
}

.offer-email {
  padding-top: 4rem;
  padding-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.offer-email form {
  font-size: 1.7rem;
}

.offer-email h3 {
  margin-bottom: 1.8rem;
}

.offer-email input, .offer-email textarea {
  display: block;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  max-width: 40rem;
  margin: 0 1rem 1rem 1rem;
  border: 2px solid #3c4734;
  border-radius: 2rem;
  color: #3c4734;
  overflow: hidden;
}

input:-internal-autofill-selected {
  border: 2px solid #3c4734;
  -webkit-text-fill-color: #3c4734;
  -webkit-text-size-adjust: 1.7rem;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#body-wrapper {
  min-height: 100%;
  position: relative;
}

#content-wrapper {
  padding-bottom: 140px;
}

#footer {
  padding: 2rem 3rem 0 3rem;
  height: 100px;
  width: 100%;
  background-color: #3c4734;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #d9f2d5;
}

#footer ul {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  list-style: none;
}

#footer p {
  color: #262b22;
  text-align: center;
}

li:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */