$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$first-color: #3c4734;
$second-color: #262b22;
$third-color: rgb(146, 162, 140);
$fourth-color: #d9f2d5;

$nav-font-size: 1.5rem;
$form-font-size: 1.7rem;
$hero-font-size: 2.4rem;
$h1: 7rem;
$h2: 4.5rem;
$h3: 1.7rem;
$p: 1.2rem;
/* font-family: 'Inter', sans-serif; */
* {
  margin: 0;
  padding: 0;
  /*  font-family: 'Inter', sans-serif; */
  box-sizing: border-box;
  font-family: $font-sans;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* max-width: 52em */
  color: $first-color;
  button {
    background-color: #fff;
  }
  span {
    font-size: $p;
  }
  a {
    padding: 0;
  }
}

#input-name,
#input-email,
#input-password,
#input-web,
#input-insta,
#input-title,
#description-input,
#input-price {
  margin-left: 0;
  margin: 1.2rem 0 2rem 0;
}
/// NAVBAR ///

.logo {
  padding-left: 0em;
  font-size: $nav-font-size;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.2px;
}

.logo:hover {
  color: $first-color;
  text-decoration: none;
}

.button-hover {
  padding: 0.1rem 1.2rem;
  border-radius: 2rem;
  margin-left: 0.2rem;
}
.button-hover:hover {
  background-color: $fourth-color;
}

h3 {
  font-size: $h3;
  font-weight: 400;
}

nav {
  position: relative;
  min-height: 80.86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    margin-left: 1em;
  }
  a,
  button,
  form {
    padding: 0;
  }
  div {
    display: flex;
    align-items: center;
    margin-right: 1.2em;
    a,
    button {
      margin: 0 0 0 1.4em;
    }
  }
  .nav-cat-search {
    margin-right: 1.6rem;
  }
}

.dark-bg {
  width: 100%;
  height: 100%;
  margin-bottom: -40px;
  background-color: $first-color;
  h1 {
    color: white;
    margin: auto;
    padding: 5rem 0 2rem 2rem;
    width: 60%;
  }
}

.einzug-links {
  padding-left: 2rem;
}

.dropbtn {
  color: white;
  background-color: $first-color;
  border: 3px solid $first-color;
  margin: 1.2em 0 1.2em 2em;
  padding: 0.1rem 1em;
  font-size: $p;
  letter-spacing: 0.3px;
  font-weight: 400;

  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.nav-button-right {
  margin-right: 1.2rem;
}

.dropbtn:hover {
  color: #fff;
  background-color: $second-color;
  border: 3px solid $second-color;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.closeMegamenu {
  display: inline-block;
}

a,
button {
  color: $first-color;
  padding: 0 0 0 2vw;
  font-size: $nav-font-size;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.3px;
  cursor: pointer;
  border-width: 0;
}

nav a:hover {
  text-decoration: none;
  color: $first-color;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn-actv:focus {
  outline-color: $second-color;
}

/// HERO PIC

h1 {
  font-family: $font-sans;
  font-size: $h1;
  font-weight: 400;
  line-height: 0.9em;
  text-transform: uppercase;
  /* text-align: center; */
  margin: 3rem 0 2rem 0rem;
  line-height: 0.95em;
  letter-spacing: -0.3rem;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

hr {
  margin-top: 2rem;
  border-width: 2px;
  border-color: $first-color;
}

// home about

.about-text {
  h1 {
    margin: 8rem 2rem 0 2rem;
  }

  h3 {
    width: 60%;
    margin: 2rem auto 0 auto;
    a {
      font-size: $h3;
    }
  }
  .link {
    font-size: $h3;
    text-decoration: underline;
  }
}

// OFFER CARDS
.offersWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 2rem 2rem 0 0rem;
}
#offersCard {
  margin: 1rem 3rem;
  line-height: 1.4rem;
  width: 20rem;
  img {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  a {
    font-size: $p;
    padding-left: 0;
  }
  h3 {
    font-weight: 400;
    text-transform: uppercase;
  }
}
#offersCard a:hover {
  text-decoration: none;
  color: $first-color;
}

#card-heading {
  text-transform: uppercase;
}
#card-heading:hover {
  color: $first-color;
  text-decoration: none;
}

.offer-completed {
  color: rgba(0, 0, 0, 0.45);
}

/// CHECKBOXES

.wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#ck-button {
  margin: 4px;
}

#ck-button label span {
  background-color: $fourth-color;
  float: none;
  color: $first-color;
  font-size: $form-font-size;
  padding: 0.2em 1.2em;
  border: 2px solid white;
  border-radius: 2em;
}

#ck-button label span {
  text-align: center;
  display: block;
  border-radius: 2em;
}

#ck-button label input {
  // position: absolute;
  /* top: -20px; */
}

#ck-button input:hover + span {
  background-color: $first-color;
  color: #fff;
}

#ck-button input:checked + span {
  background-color: $first-color;
  color: #fff;
}

#ck-button input:checked:hover + span {
  background-color: $second-color;
  border-color: $second-color;
  color: #fff;
}

.single-button {
  margin-right: 1em;
}

/* OPENED DROPDOWN */

.wrapper {
  padding: 1rem 0 1.8rem 0rem;
}
.dropdown-content {
  padding-top: 5rem;
  padding-left: 3rem;
  display: none;

  background-color: #ffffff;
  width: 100vw;
  height: 90vh;
  overflow: auto;
  z-index: 1;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    font-size: $form-font-size;
    label {
      margin: 0;
    }
    input {
      padding: 0.7rem 0.7rem 0.7rem 2rem;
      width: 40rem;
      margin: 0 1rem;
      border: 2px solid $first-color;
      border-radius: 4rem;
      color: $first-color;
    }
  }
}
/* 
.offers-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: baseline;
} */

#mySearchDropdown {
  position: absolute;
  top: 4rem;
}

#myDropdown {
  position: absolute;
  top: 4rem;
}

.dropdown-content a {
  color: $second-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: #fff;
  background-color: $second-color;
  text-decoration: none;
}

.show {
  display: block;
}

.nav-content {
  display: flex;
  // display: none; // this is for mobile version
  // @media (min-width: 800px) {
  //   display: flex;
  // }
  z-index: 4;
}

.nav-content.nav-mobile-show {
  position: absolute;
  display: block;
  margin-top: 2rem;
  background-color: #d9f2d5;
  width: 100%;
  height: 100%;
}

#nav-mobile-trigger {
  display: none;
  // display: block;  // this is for mobile version
  // margin-right: 1.2rem;
  // @media (min-width: 800px) {
  //   display: none;
  // }
}

.hide {
  display: none;
}

///GO BUTTON

.go-button-wrapper {
  display: flex;
  justify-content: center;
}

.go-button {
  color: $first-color;
  font-size: $form-font-size;
  padding: 0.2em 0.8em;
  border: 2px solid $first-color;
  border-radius: 2em;
  cursor: pointer;
}

.centered {
  margin: 3.2rem 0 4rem 0;
}

.go-button:hover {
  background-color: $second-color;
  border: 2px solid $second-color;
  color: #fff;
  text-decoration: none;
}

.padding-left {
  padding-left: 2rem;
}

.button-sorting {
  color: $second-color;
  font-size: $p;
  padding: 0.1em 1.2em;
  margin: 1rem 0.6rem 0 0;
  border: 2px solid $second-color;
  border-radius: 2em;
  cursor: pointer;
}

.button-sorting:hover {
  background-color: $second-color;
  color: #fff;
}

.button-sorting-actv {
  background-color: $second-color;
  color: #fff;
}

/* deactivated offers*/
.bw-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: (50%);
}

////PROJECT SPACE HOME

/* slide show */
#slider {
  opacity: 1;
  transition: opacity 1s;
}
#slider.fadeOut {
  opacity: 0;
}

/* button */

.project-spc-btn {
  color: #fff;
  background-color: $first-color;
  font-size: 1.7rem;
  padding: 0.4em 0.8em;
  border: 2px solid $first-color;
  border-radius: 2em;
  cursor: pointer;
}

.project-spc-btn:hover {
  background-color: #fff;
  border: 2px solid $first-color;
  color: $first-color;
  text-decoration: none;
}

/* project space positioning of text div on slide show */
.project-space {
  position: relative;
  margin-bottom: 2em;
  font-size: $form-font-size;
  img {
    width: 100%;
    max-height: 92vh;
    object-fit: cover;
  }
  h2,
  span {
    font-size: $hero-font-size;
    padding: 0;
    margin-bottom: 2rem;
  }
}
.project-space a:hover {
  text-decoration: none;
  color: $first-color;
}
.project-space-info {
  position: absolute;
  font-size: 2rem;
  bottom: 6rem;
  left: 2rem;
  h2 {
    a {
      font-size: $hero-font-size;
    }
    font-size: $hero-font-size;
  }

  span {
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

////PROJECT SPACE PAGE

.project-space-wrapper {
  h1 {
    margin-left: 2rem;
    a {
      font-size: $h1;
      letter-spacing: -0.3rem;
    }
  }
}

// project space page: Images

.project-images-section {
  img {
    display: block;
  }
}

#project-img1 {
  width: 100%;
  margin-bottom: 3rem;
}

#project-img2 {
  width: 20em;
  margin: 0 auto 6rem;
}

#project-img3 {
  width: 30em;
  margin: 0 0 3rem 3rem;
}

#project-img4 {
  width: 17em;
  margin: 0 auto 6rem;
}

#project-img5 {
  width: 40em;
  margin: auto;
}

//// FORMS

//Create-offer
.background-color {
  background-color: white; // CHANGE FOR BACKGROUND COLOR
}
.offer-create {
  background-color: white;
  padding-top: 2rem;

  form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  div {
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem 1rem 0 1rem;
    h3 {
      margin: 0 1rem 0.5rem 1rem;
      font-weight: 400;
    }
    label {
      font-size: $form-font-size;
    }
  }
  /* margin-left: 1rem; */

  form {
    font-size: $form-font-size;
  }
  label {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input,
  textarea {
    display: block;
    margin: auto;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    max-width: 40rem;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid $first-color;
    border-radius: 2rem;
    color: $first-color;
    overflow: hidden;
  }
  input[type='file'] {
    display: none;
  }

  .custom-file-upload {
    padding: 0.7rem 2rem 0.7rem 2rem;
    max-width: 40rem;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid $first-color;
    border-radius: 2rem;
    color: $first-color;
    cursor: pointer;
  }
  select {
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    width: 20rem;
    max-width: 40rem;
    margin: 0 1rem 1rem 0rem;
    border: 2px solid $first-color;
    border-radius: 2rem;
    color: $first-color;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.offer-label {
  font-weight: 400;
  margin: 2rem 0 0 2rem;
}

.form-label {
  font-size: $form-font-size;
  margin: 1em 0 0 2rem;
}

// PROFILE SITE

#profile-head {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 4rem 2rem 2rem 2rem;

  img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin: 0 0 2rem 0;
    border-radius: 90% 30% / 50% 40%;
  }

  h3 {
    font-size: $h2;
    line-height: 4.2rem;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 600px;
    padding-bottom: 3rem;
  }

  .profile-details {
    font-size: $form-font-size;
    line-height: 2rem;
    margin-left: 2rem;
    max-width: 40%;

    .link {
      font-size: $h3;
      text-decoration: underline;
    }
  }
}

.profile-btn {
  color: white;
  background-color: $first-color;
  border: 2px solid $first-color;
  margin: 1.2em 0 1.2em 2em;
  padding: 0em 1em;
  font-size: 1em;
  letter-spacing: 0.3px;
  font-weight: 400;

  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}
.profile-btn:hover {
  color: $first-color;
  background-color: #fff;
}

.erase-btn {
  color: white;
  background-color: red;
  border: 2px solid red;
  margin: 1.2em 0 1.2em 2em;
  padding: 0em 1em;
  font-size: 1em;
  letter-spacing: 0.3px;
  font-weight: 400;

  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}
.erase-btn:hover {
  color: red;
  background-color: #fff;
}

// OFFERS pages
.offers-wrapper {
  display: flex;
}

.filter-buttons {
  /* padding-left: 3rem; */
}

.offer-single {
  margin: 3rem 0 4rem 0;
  img {
    display: block;
    width: 800px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 3rem;
    margin: 2rem auto 0 auto;
  }
  p,
  a,
  span {
    font-size: $p;
    padding: 0;
    margin: 0.1em;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  button {
    margin: 10px;
  }
}

a:hover {
  text-decoration: none;
  color: $first-color;
}

.description {
  margin: 4rem auto 0 auto;
  width: 60%;
}

.offer-details {
  margin: auto;
  width: 60%;
}

.h1-centered {
  margin: auto;
  width: 60%;
}

/// OFFER EDIT

.preview-pic {
  width: 300px;
  height: 220px;
  object-fit: cover;
}

//sign-in

.sign-in {
  background-color: $fourth-color;
  height: 100%;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  form {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: $form-font-size;
  }

  h3 {
    margin: 0 1rem 0 1rem;
    font-weight: 400;
  }
  label {
    font-size: $form-font-size;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input,
  textarea {
    display: block;
    margin: auto;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    max-width: 40rem;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid $first-color;
    border-radius: 2rem;
    color: $first-color;
  }

  select {
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    width: 20rem;
    max-width: 40rem;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid $first-color;
    border-radius: 2rem;
    color: $first-color;
  }
}

/// EMAIL

.offer-email {
  padding-top: 4rem;
  padding-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  form {
    font-size: $form-font-size;
  }
  h3 {
    margin-bottom: 1.8rem;
  }
  input,
  textarea {
    display: block;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    max-width: 40rem;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid $first-color;
    border-radius: 2rem;
    color: $first-color;
    overflow: hidden;
  }
}

input:-internal-autofill-selected {
  border: 2px solid $first-color;
  -webkit-text-fill-color: $first-color;
  -webkit-text-size-adjust: $form-font-size;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/// body wrapper

#body-wrapper {
  min-height: 100%;
  position: relative;
}

#content-wrapper {
  padding-bottom: 140px;
}
/// footer

#footer {
  padding: 2rem 3rem 0 3rem;
  height: 100px;
  width: 100%;
  background-color: $first-color;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $fourth-color;
  ul {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    font-size: $p;
    list-style: none;
  }
  p {
    color: $second-color;
    text-align: center;
  }
}
li:hover {
  color: white;
}

// dev: as long as mobile version is under construction: warning div

#mobile-warning {
  h1 {
    font-size: 3rem;
  }
  width: 100vw;
  height: 100vh;
  background-color: #d9f2d5;
  display: flex;
  @media (min-width: 800px) {
    display: none;
  }
  z-index: 4;
}

#body-wrapper {
  display: none;
  @media (min-width: 800px) {
    display: flex;
  }
}
